.row-contagion {
  margin-bottom: 70px;
  position: relative;
  .img-contagion-virus {
    position: absolute;
    top: 66%;
    left: -9%;
    width: 21%;
    opacity: 0.8;
  }
  .card-contagion {
    background-color: #fff;
    height: 40rem;
    border: none;
    border-radius: 10px;
    border-bottom: 6px solid #fff;
    box-shadow: 0 15px 30px rgba(20, 20, 20, 0.1);
    transition: all 0.2s linear;
    &:hover {
      box-shadow: 0 15px 30px rgba(20, 20, 20, 0.3);
      border-color: #ff383d;
    }
    .card-body-contagion {
      .img-contagion {
        width: 80%;
        margin: 4rem auto;
      }
      .card-title-contagion {
        font-size: 33px;
        color: #035755;
        margin-bottom: 1rem;
      }
      .card-text-contagion {
        font-size: 18px;
        color: #4b4f51;
      }
    }
  }
}

@media (max-width: 768px) {
  .card-contagion {
    margin-bottom: 1rem;
  }
}
