.row-contagion {
  margin-bottom: 70px;
  .card-contagion {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    border-bottom: 6px solid #fff;
    box-shadow: 0 15px 30px rgba(20, 20, 20, 0.1);
    transition: all 0.2s linear;
    &:hover {
      box-shadow: 0 15px 30px rgba(20, 20, 20, 0.3);
      border-color: #ff383d;
    }
    .card-body-contagion {
      .img-contagion {
        width: 255px;
        height: 233px;
        margin: 65px auto;
      }
      .card-title-contagion {
        font-size: 36px;
        color: #035755;
        margin-bottom: 12px;
      }
      .card-text-contagion {
        font-size: 18px;
        color: #4b4f51;
        margin-bottom: 78px;
      }
    }
  }
}
