/* Roboto-regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../inline/Roboto-Regular.ttf'); 
}
/* Roboto-bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../inline/Roboto-Bold.ttf'); 
}
/* Montserrat-Regular */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../inline/Montserrat-Regular.ttf'); 
}

/* Montserrat-bold */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../inline/Montserrat-Bold.ttf'); 
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  position: relative;
}
