.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;

  .nav-footer {
    display: flex;
    align-items: center;

    @media screen and (max-width: 622px) {

    }

    .nav-list {
      display: flex;
      align-items: center;

      .nav-item {
        margin-left: 20px;
        list-style: none;

        @media screen and (max-width: 622px) {
          margin-left: 0;
        }

        a {
          font-size: 23px;
          color: #415e56;
          transition: color 0.2s linear;

          &:hover {
            color: #f44a45;
          }
        }
      }
    }
  }
  .footer-links {
    a {
      margin-right: 40px;
      color: transparent;

      &:last-child {
        margin-right: 0;
      }

      object {
        opacity: 0.3;
        width: 1.5rem;
        transition: all 0.2s linear;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.copyright {
  font-size: 23px;
  color: #415e56;
  text-align: center;
  padding-bottom: 15px;
}

@media (max-width: 1199px) {
  .footer-row {
    align-items: flex-start;
    .nav-list {
      display: block !important;
    }
  }
}

@media (max-width: 771px) {
  .footer-row {
    margin-bottom: 45px;
  }


  .nav-02 {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 40px;

    .nav-footer {
      flex-direction: column;
      align-items: start;
      padding-left: 0;
    }

    .nav-list {
      display: flex;
      padding-left: 0;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .social-03 {
    justify-content: center;
    display: flex;
    width: 100%;
  }
}
