.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;

  .nav-footer {
    display: flex;
    align-items: center;
    .nav-list {
      display: flex;
      align-items: center;

      .nav-item {
        margin-left: 20px;
        list-style: none;

        a {
          font-size: 23px;
          color: #415e56;
          transition: color 0.2s linear;

          &:hover {
            color: #f44a45;
          }
        }
      }
    }
  }
  .footer-links {
    a {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }

      object {
        opacity: 0.3;
        width: 1.5rem;
        transition: all 0.2s linear;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.copyright {
  font-size: 23px;
  color: #415e56;
  text-align: center;
  margin-bottom: 15px;
}

@media (max-width: 1199px) {
  .footer-row {
    align-items: flex-start;
    .nav-list {
      display: block !important;
    }
  }
}

@media (max-width: 771px) {
  .logo-01 {
    order: 1;
  }

  .nav-02 {
    order: 3;
    .nav-list {
      display: flex !important;
      justify-content: space-between;
    }
  }

  .social-03 {
    order: 2;
  }
}