.container-fluid-header {
  max-height: 1100px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.29),
    rgba(255, 248, 248, 0.48),
    rgba(181, 116, 116, 0.45)
  );
  overflow: hidden;
  position: relative;

  .header-virus {
    position: absolute;
    top: 10%;
    right: 50%;
    width: 15%;
    &:hover {
      animation: shake 0.5s;
      animation-iteration-count: infinite;
    }

    @keyframes shake {
      0% {
        transform: translate(1px, 1px) rotate(0deg);
      }
      10% {
        transform: translate(-1px, -2px) rotate(-1deg);
      }
      20% {
        transform: translate(-3px, 0px) rotate(1deg);
      }
      30% {
        transform: translate(3px, 2px) rotate(0deg);
      }
      40% {
        transform: translate(1px, -1px) rotate(1deg);
      }
      50% {
        transform: translate(-1px, 2px) rotate(-1deg);
      }
      60% {
        transform: translate(-3px, 1px) rotate(0deg);
      }
      70% {
        transform: translate(3px, 1px) rotate(-1deg);
      }
      80% {
        transform: translate(-1px, -1px) rotate(1deg);
      }
      90% {
        transform: translate(1px, 2px) rotate(0deg);
      }
      100% {
        transform: translate(1px, -2px) rotate(-1deg);
      }
    }
  }
}

.header-virus-2 {
  position: absolute;
  top: 34%;
  right: 30%;
  width: 5%;
  opacity: 0.4;
}

.header-virus-3 {
  position: absolute;
  top: 12%;
  right: 0%;
  width: 10%;
  opacity: 1;
}

.header-virus-4 {
  position: absolute;
  top: 38%;
  right: -11%;
  width: 21%;
  opacity: 0.8;
}

.navbar-collapse-style {
  flex-grow: 0;
}

.nav-item {
  color: #035755;
  font-weight: 700;
  margin-left: 30px;

  .nav-link {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      background-color: #fb4c47;
      opacity: 0;
      border-radius: 50%;
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 1;
      transition: opacity 0.2s linear;
    }

    &:hover {
      color: #fb4c47;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}

.btn-nav {
  width: 154px;
  height: 55px;
  color: #ff383d;
  border: 2px solid #ff383d;
  border-radius: 25px;

  &:hover {
    color: #035755;
    border: 2px solid #035755;
  }
}
.btn:focus {
  box-shadow: none;
}

.promo-btn {
  color: #fff;
  font-size: 20px;
  background-color: #fb4c47;
  width: 250px;
  height: 80px;
  border-radius: 40px;
  border: none;
  margin-bottom: 40px;
  transition: all 0.2s linear;

  &:hover {
    background-color: #035755;
  }
}

.promo {
  margin: 40px auto;

  .img-promo {
    position: relative;
    padding-top: 56.25%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 110%;
      height: auto;
      transition: all 2s linear;
    }
  }
}

#axis:hover .rotate360cw {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
}

@media (max-width: 991px) {
  .promo {
    margin: 0 auto !important;

    .img-promo {
      order: 1;
      padding-top: 90% !important;
    }

    .text-promo {
      order: 2;
      margin-bottom: 40px;

      .promo-btn {
        width: 100%;
        height: 80px;
      }
    }
  }
}
