.subscribe-input {
  width: 60%;
  height: 100px;
  margin: 5rem auto 10rem auto;
  box-shadow: 0 15px 30px rgba(20, 20, 20, 0.1);
  border-radius: 57px;
  position: relative;

  .subscribe-form {
    font-size: 22px;
    color: #b8ccc6;
    border: none;
    border-top-left-radius: 57px;
    border-bottom-left-radius: 57px;
    &:focus {
      border-color: transparent;
      box-shadow: none;
      border: none;
      color: #758681;
    }
  }

  .subscribe-btn {
    color: #fff;
    font-size: 20px;
    background-color: #f44a45;
    width: 25%;
    border: none;
    border-radius: 39px;    
    transition: all 0.2s linear;

    &:hover {
      background-color: #035755;
    }
  }
}

@media (max-width: 950px) {
  .subscribe-input {
    width: 90%;
  }  
}