.title {
    font-size: 32px;
    color: #ff383d;
    font-weight: 700;
}
.sub-title {
    font-size: 52px;
    color: #035755;
    font-weight: 700;
    margin-bottom: 30px;
}
.descr {
 font-size: 24px;
 color: #4B4F51;
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 400;
 margin-bottom: 50px;
}

.center-t {
    text-align: center;
}