@font-face {
    font-family: 'redHat';
    src: local(''),
     url('./red-hat.ttf');    
  }

.hello {
    color: red;
    font-size: 25px;
    font-family: 'redHat';
    background: url('./kit.jpg');
  }